
@import "../_common.css";


body {
  margin: 0;
  padding: 0;
  background-color: var(--fg-color);
  /* overflow-x: hidden; */
}

.SuperDisable {
  padding: 10px;
  background-color: #fafafa; 
  color: #666; 
  cursor: pointer;
  border: none;
  width: 100%;
}

.SuperDisable:hover {
  background-color: #eee;
}

.SuperDisable:focus {
  outline: 2px solid var(--blue-color);
  outline-offset: -2px;
}

#App {
  & > .panel {
    width: 300px;
    padding: 8px;
    min-height: 40px;
    max-width: 400px;

    &.MainPanel {
      max-width: 300px;
    }

    & > .unloaded {
      min-height: 9.28rem;
    }
  }
}
